/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        QC REPORTS
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'FASTQC' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/qc_reports/fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/qc_reports/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BEDTOOLS_GENOMECOV' {
        ext.prefix = { "${meta.id}_genomecov" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_AVERAGEDEPTH' {
        ext.prefix = { "${meta.id}_avg_depth" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_DEPTH' {
        ext.prefix = { "${meta1.id}_depth" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        ext.prefix = { "${meta.id}_flagstat" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_STATS' {
        ext.prefix = { "${meta.id}_stats" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        ext.prefix = { "${meta.id}_idxstats" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        REFERENCE FILES - Shared resources
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'BWA_INDEX' {
        publishDir = [
            path: { "${params.outdir}/references/bwa_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DOWNLOAD_CLAIR3_MODEL' {
        publishDir = [
            path: { "${params.outdir}/references/clair3_model" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DOWNLOAD_PYPGX_BUNDLE' {
        publishDir = [
            path: { "${params.outdir}/references/pypgx_bundle" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_COMPOSESTRTABLEFILE' {
        publishDir = [
            path: { "${params.outdir}/references/gatk4_str_table" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        publishDir = [
            path: { "${params.outdir}/references/sequence_dictionary" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [
            path: { "${params.outdir}/references/fasta_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TABIX_TABIX' {
        publishDir = [
            path: { "${params.outdir}/references/dbsnp_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CREATE_VCF_HEADER' {
        publishDir = [
            path: { "${params.outdir}/references/vcf_header" },
            mode: "link",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        MAPPING
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'BWA_MEM' {
        ext.args   = "-x ont2d"
        ext.prefix = { "${meta.id}_bwa_aligned" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        ext.prefix = { "${meta.id}_indexed" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/mapping" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        VARIANT CALLING
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'GATK4_ADDORREPLACEREADGROUPS' {
        ext.args   = { "--RGID '${meta.id}' --RGLB 'ONT' --RGPL 'ONT' --RGPU 'MiniION' --RGSM '${meta.id}'" }
        ext.prefix = { "${meta.id}_readgroups" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/gatk4/intermediates/addorreplacereadgroups" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_MARKDUPLICATES' {
        ext.args   = { "--CREATE_INDEX true" }
        ext.prefix = { "${meta.id}_dedup.bam" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/gatk4/intermediates/markduplicates" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_CALIBRATEDRAGSTRMODEL' {
        ext.args   = { " " }
        ext.prefix = { "${meta.id}_dragstr" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/gatk4/intermediates/calibratedragstrmodel" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
        ext.args   = { }
        ext.prefix = { "'${meta.id}'.haplotypecaller" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/gatk4" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CLAIR3' {
        ext.args   = { "--sample_name='${meta.id}' --qual=20 --enable_phasing" }
        ext.prefix = { "${meta.id}_clair3" }
        errorStrategy = 'ignore'
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/clair3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LONGSHOT' {
        ext.args   = { "--min_mapq 10 --sample_id ${meta.id}" }
        ext.prefix = { "${meta.id}_longshot" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/longshot/raw" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TABIX_BGZIPTABIX' {
        ext.prefix = { "'${meta.id}'.longshot" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/longshot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PYPGX_CREATEINPUTVCF' {
        ext.args = "--genes 'CYP2D6' --assembly 'GRCh38'"
        ext.prefix = { "${meta.id}_pypgx_input" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/pypgx/raw" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CLEAN_VCF_HEADER' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_calling/pypgx" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        VARIANT MERGING
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'BCFTOOLS_CONCAT' {
        ext.args   = { "--write-index=tbi --output-type z -a -d all" }
        ext.prefix = { "${meta.id}.concat" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_merging/bcftools_concat" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename  }
        ]
    }

    withName: 'BCFTOOLS_NORM' {
        ext.args   = { "--force  --write-index=tbi --output-type z -m -any" }
        ext.prefix = { "${meta.id}.norm" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_merging/bcftools_norm" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_SORT' {
        ext.args   = { "--write-index=tbi --output-type z" }
        ext.prefix = { "${meta.id}.sort" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_merging/bcftools_sort" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args   = { "--force --write-index=tbi --output-type z" }
        ext.prefix = { "${meta.id}.annotate" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_merging/bcftools_annotate" },
            mode: "link",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_FILTER' {
        ext.args   = { "--write-index=tbi --output-type z" }
        ext.prefix = { "${meta.id}.filter" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_merging/bcftools_filter" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    /*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        VARIANT ANNOTATION
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    */
    withName: 'PANNO' {
        errorStrategy = 'ignore'
        ext.args   = { "--sample_id ${meta.id} --population 'OCE'" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_annotation/panno" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PYPGX_RUNLONGREADPIPELINE' {
        ext.prefix = { "${meta.id}_pypgx_longread" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_annotation/pypgx/longread" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PYPGX_RUNNGSPIPELINE' {
        ext.prefix = { "${meta.id}_pypgx_ngs" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/variant_annotation/pypgx/ngs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COMBINE_CYP2D6_DATA' {
        ext.prefix = { "FINAL_RESULT_COMBINED" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COMBINE_PANNO_RESULTS' {
        ext.prefix = { "combined_panno_results" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'COMBINE_PYPGX_RESULTS' {
        ext.prefix = { "combined_pypgx_results" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
