/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTQC' {
        ext.args = {'--quiet' }
        publishDir = [
            path: { "${params.outdir}/qc_reports/fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/qc_reports/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BWA_MEM' {
        ext.args   = { "-x ont2d" }
        publishDir = [
            path: { "${params.outdir}/mapping/bwa_mem" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args   = { "-ax map-ont" }
        publishDir = [
            path: { "${params.outdir}/mapping/minimap2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BWAMEM1_INDEX' {
        ext.args   = { "" }
        publishDir = [
            path: { "${params.outdir}/references/bwamem1_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        ext.args   = { " " }
        publishDir = [
            path: { "${params.outdir}/references/gatk4_dictionary" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_COMPOSESTRTABLEFILE' {
        ext.args   = { " " }
        publishDir = [
            path: { "${params.outdir}/references/gatk4_str_table" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }    
    
    withName: 'SAMTOOLS_FAIDX' {
        ext.args   = { " " }
        publishDir = [
            path: { "${params.outdir}/references/samtools_fai" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TABIX_DBSNP' {
        ext.args   = { " " }
        publishDir = [
            path: { "${params.outdir}/references/dbsnp_tabix_index" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DOWNLOAD_CLAIR3_MODEL' {
        ext.args   = { " " }
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DOWNLOAD_PYPGX_BUNDLE' {
        ext.args   = { " " }
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // BWA-MEM BAMSTAT specific publishDir
    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_BWA:BEDTOOLS_GENOMECOV' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/bwa/bedtools_coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }



    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_BWA:SAMTOOLS_DEPTH' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/bwa/samtools_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_BWA:SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/bwa/samtools_flagstat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_BWA:SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/bwa/samtools_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Minimap2 BAMSTAT specific publishDir
    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_MINIMAP2:BEDTOOLS_GENOMECOV' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/minimap2/bedtools_coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_MINIMAP2:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/minimap2/samtools_index" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_MINIMAP2:SAMTOOLS_DEPTH' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/minimap2/samtools_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_MINIMAP2:SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/minimap2/samtools_flagstat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:BAMSTATS_MINIMAP2:SAMTOOLS_STATS' {
        publishDir = [
            path: { "${params.outdir}/qc_reports/bamstats/minimap2/samtools_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // VARIANTS CALLING
    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:PYPGX_CREATEINPUTVCF' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/pypgx_variants" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null }
        ]
    }
    
    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:CLEAN_VCF_HEADER' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/pypgx_variants_clean" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:MEDAKA_VARIANT ' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/medaka" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:CUTESV' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/cutesv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:SNIFFLES' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/sniffles" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:CLAIR3' { 
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/clair3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:NANOCALLER' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/nanocaller" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:GATK4:GATK4_ADDORREPLACEREADGROUPS' {
        ext.args   = { "--RGID '${meta.id}' --RGLB 'ONT' --RGPL 'ONT' --RGPU 'MiniION' --RGSM '${meta.id}'" }
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/gatk4/intermediate/addOrReplaceReadGroups" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null  }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:GATK4:GATK4_MARKDUPLICATES' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/gatk4/intermediate/markduplicates" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null  }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:GATK4:GATK4_CALIBRATEDRAGSTRMODEL' {
        ext.args   = { " " }
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/gatk4/intermediate/CalibrateDragstrModel" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null  }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_CALLING_ALL:GATK4:GATK4_HAPLOTYPECALLER' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/gatk4/haplotyper_vcfs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BCFTOOLS_CONCAT' {
        ext.args   = { "--write-index=tbi --output-type z -a -d all" }
        publishDir = [
            path: { "${params.outdir}/variants/merging_variants/bcftools_concat" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null  }
        ]
    }

    withName: 'BCFTOOLS_NORM' {
        ext.args   = { "--write-index=tbi --output-type z -m -any" }
        publishDir = [
            path: { "${params.outdir}/variants/merging_variants/bcftools_norm" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null }
        ]
    }
    
    withName: 'BCFTOOLS_SORT' {
        ext.args   = { "--write-index=tbi --output-type z" }
        publishDir = [
            path: { "${params.outdir}/variants/merging_variants/bcftools_sort" },
            mode: 'link',
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null  }
        ]
    } 

    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args   = { "--write-index=tbi --output-type z" }
        publishDir = [
            path: { "${params.outdir}/variants/merging_variants/bcftools_annotate" },
            mode: "link",
            saveAs: { filename -> filename.equals('versions.yml') ? filename : null }
        ]
    }

    withName: 'BCFTOOLS_FILTER' {
        ext.args   = { "--write-index=tbi --output-type z" }
        publishDir = [
            path: { "${params.outdir}/variants/merging_variants/final" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CREATE_VCF_HEADER' {
        publishDir = [
            path: { "${params.outdir}/variants/single_tools/vcf_header" },
            mode: "link",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_ANNOTATION:PYPGX_RUNLONGREADPIPELINE' {
        publishDir = [
            path: { "${params.outdir}/genotypes/pypgx_tgs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }    
       
    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_ANNOTATION:PYPGX_RUNNGSPIPELINE' {
        ext.args   = { "--force --do-not-plot-copy-number --do-not-plot-allele-fraction" }
        publishDir = [
            path: { "${params.outdir}/genotypes/pypgx_ngs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }    
    
    withName: 'NFCORE_CYPTYPER:CYPTYPER:VARIANT_ANNOTATION:PANNO' {
        publishDir = [
            path: { "${params.outdir}/genotypes/panno" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
